@import "./variables.scss";


:root {
  height: 100vh;
  background: $background;
  transition: background 1s ease-in-out;
  background-size: cover;

  &:not(.hero-page)::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
 
  }

}

body{
   position: relative;
   color: white;
   margin: auto;
   width: $max-width;
   height: calc(100vh - 3.5rem);
   overflow: hidden;

   @media screen and (max-width:768px){
    width: 100%;
   }
}

header{
  display: flex;
  justify-content: space-between;
  margin: 3rem 3rem 0;
  z-index: 4;
  position: relative;

  @media screen and (max-width:768px){
    width:90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top:32px;
  
  }
}