$max-width: 1280px;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$spider-man-616: 360px;
$mulher-aranha-65: 300px;
$spider-man-1610: 324px;
$sp-dr-14512: 324px;
$spider-ham-8311: 146px;
$spider-man-90214: 376px;
$spider-man-928: 360px;
